body {
    background-color: #101010;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title-text {
    font-size: 4.3rem;
    color: #85bc22;
    margin: 60px 0;
    font-weight: bold;

}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.skill-card {
    background-color: #333;
    border-radius: 15px;
    padding: 45px 10px;
    text-align: center;
    width: 240px;
    height: 270px;
    transition: all 0.3s;
   
}

.skill-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 25px rgba(83, 78, 78, 0.6);
}

.circular-progress {
    position: relative;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: conic-gradient(#77DD77 3.6deg, #2c2c2c 0deg);  */
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #333;
}

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.skill-name {
    margin-top: 40px;
    font-size: 1.5rem;
}

.result {
    display: none;
    
}
